@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__line {
    height: 5px;
    background: #ff7500;
}

.header__nav {
    padding: 16px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
    margin-right: 12px;
}

.logo-text {
    color: #252420;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.logo-text::after {
    content: "nashr";
    color: #ff7500;
}

.header__list {
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-left: auto;
    margin-right: 32px;
}

.header__menu-link {
    color: black;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}
.div2{
    display: flex;
}


.header__menu-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff7500;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.5s;
}

.header__menu-link:hover {
    color: #e5e5e5;
}

.header__menu-link:hover::after {
    width: 100%;
}

.orange__btn {
    padding: 12px 24px;
    border-radius: 4px;
    background: #ff7500;
    border: none;
    color: #fff;
    font-family: "roboto";
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.orange__btn:hover {
    opacity: o.8;
    cursor: pointer;
}

.content__image{
    display: flex;
    justify-content: center;
}


.all-btn {
    border-radius: 4px;
    background: #ff7500;
    color: #fff;
    font-family: "Roboto";
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 24px;
    display: inline-block;
    transition: .5s;

}

.all-btn:hover {
    opacity: .8;
}

.all-btn:active {
    opacity: .6;
}

.header__content {
    /* padding: 80px 0; */
    background-color: #252420;
}

.content_texts {
    width: 390px;
}

.content-title {
    color: #fff;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
    padding-top: 40px;

}

.has-line {
    position: relative;
}

.has-line::before {
    content: "";
    width: 80px;
    height: 3px;
    background: #ff7500;
    position: absolute;
    top: 0;
    left: 0;
}

.content-desc {
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
    margin-bottom: 32px;
}

.content__image {
    max-width: 510px;
    height: 510px;
    width: 100%;
    position: relative;
}

.content__image-img {
    position: absolute;
    top: 40px;
    box-shadow: 24px 24px 0px 0px rgba(255, 117, 0, 0.60);
    border-radius: 8px;
}


/* about */
.about {
    padding: 197px 0;
    display: flex;
    justify-content: center;
}

.about__title {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "RobotoCondensed";
    line-height: 86.4px;
    max-width: 435px;
    width: 100%;
    margin-bottom: 72px;
}

.about__title::before {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #ff7500;
}

.about__cards {
    display: flex;
    column-gap: 40px;
}

.about__card {
    max-width: 340px;
    width: 100%;
    padding-right: 26px;
}

.about__card-icon {
    width: 100px;
    height: 100px;
    background: rgba(255, 117, 0, 0.20);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__card-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .5px;
    font-family: "RobotoCondensed";
    line-height: 120%;
    margin: 32px 0 12px;
}

.about__card-text {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto";
    line-height: 24px;
    color: #000;
    letter-spacing: 0.5px;
}

/* about */

/* sale */
.sale {
    padding-bottom: 162px;
}

.sale__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #252420;
    border-radius: 12px;
    min-height: 419px;
    padding: 0 64px;
    max-width: 1140px;
    margin: auto;
}

.sale__desc {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.sale__title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: "RobotoCondensed";
    max-width: 373px;
    width: 100%;
}

.sale__text {
    color: #fff;
    max-width: 440px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    letter-spacing: .5px;

}

.sale__text span {
    color: #ff7500;
}

.sale__btn {
    width: max-content;
}

.sale__image {
    max-width: 440px;
    width: 100%;
    height: 440px;
    position: relative;
}

.sale__image-img {
    position: absolute;
    top: -83px;
    border-radius: 12px;
}

/* sale */
.footer {
    padding: 56px 0px;
    background: #f8f8f8;

}
.div3{
    display: none;
}

.bars_menu{
display: none;

}

.footer__nav {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.footer__social {
    display: flex;
    column-gap: 16px;
}

.footer__social-icon {
    color: #252420;
    transition: 0.5s;

}

.footer__social-icon:hover {
    color: #ff7500;
}

.footer__social-icon:active {
    opacity: .6;
}

.footer__line {
    width: 100%;
    height: 2px;
    background: rgba(37, 36, 32, 0.50);
    margin: 40px 0 64px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: auto;
}

.foter__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.foter__menu-link {
    color: #252420;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto";
    transition: .5s;
}

.foter__menu-link:hover {
    color: #ff7500;
}

.foter__menu-link:active {
    opacity: .6;
}